#container {
  display: grid;
  background-color: beige;
  /*            width :200px;*/
}
.piece,
.dropzone {
  outline: 0.5px solid grey;
}

.piece {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.36);
}
